.title_h1 {
  text-align: center;
  margin: 5% 0 5% 0%;
  font-weight: 300;
  color: rgb(70, 70, 70);
}

.title_h2 {
  margin-bottom: 2rem;
  text-align: center;

  font-weight: 400;
  color: rgb(70, 70, 70);
}
