.form__input {
  padding: 0 2rem 0 2rem;
  margin-bottom: 1rem;
  float: left;
  width: 100%;
  padding: 0 1.5rem;
  height: 3rem;
  border-radius: 0.75rem;
  border: 1px solid #b1b1b1;
  background: #fff;
  font-weight: 400;
  font-size: 1rem;

  &::placeholder {
    color: var(--text-body);
  }
}
