.form_container {
  padding: 1rem 2.5rem 3rem 2.5rem;
  margin: 5% auto 5% auto !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 40%;
  flex-direction: column;

  background: #fff;
  border-radius: 0.75rem;

  @media (max-width: 720px) {
    max-width: 80%;
  }
}
