.header {
  padding: 0.7rem;
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #73a2b0;

  &__link {
    display: flex;
    align-items: center;
    color: none;
  }
  &__link {
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: none;
    cursor: pointer;
  }
  &__img {
    margin-left: 1rem;
    border-radius: 5rem;
    border: 0.04rem solid rgba(255, 0, 0, 0.3);
  }

  &__title {
    margin: 0 0 0 1.5rem;
    font-size: 2rem;
    color: #e7e9ee;
    letter-spacing: 0.1rem;
  }

  &__search {
    border: none;
    border-radius: 0.25rem;
    padding: 0.4rem;
    margin-left: 6%;
    width: 50%;
    background-color: #e7e9ee;
  }

  &__login {
    color: #e7e9ee;
    display: block;
    float: right;
    width: 35%;
    margin-right: 2rem;
    text-align: right;
  }

  &__icon {
    margin-left: auto;
    margin-right: 0.3rem;
    color: #e7e9ee;
    cursor: pointer;
  }
}
